.node.align-full .title-textbox h1{
	text-align: center;

}

.node .youtubebox iframe{
	width:100%;
	margin-bottom:10px;

}

.node.align-left .youtubebox article, .node.align-right .youtubebox article{
	width:415px;

}

.node .youtubebox article{
		text-align:center;
		background: url("../img/littleknobs.png") repeat scroll right top #FFFFFF;

}


.node.align-left .imagebox img, .node.align-right .imagebox img{
	max-width: 415px;
}

.node.align-full .imagebox img{
	max-width: 965px;
}

.node .promptbox article{
		text-align:center;
		background: url("../img/lined-paper.png") repeat scroll right top #FFFFFF;
		font-family: 'Handlee', cursive;
}

.node .promptbox article h1{

		font-family: 'Handlee', cursive;
}

.node .poll article {
		font-size:16px;
		background: url("../img/whitediamond.png") repeat scroll right top #FFFFFF;
		
}
.node .poll article h1{
		font-size:16px;
		
}

