.node.align-full .title-textbox h1{
	text-align: center;

}

.node .youtubebox iframe{
	width:100%;
	margin-bottom:10px;

}

.node.align-left .youtubebox article, .node.align-right .youtubebox article{
	width:415px;

}

.node.align-left .imagebox img, .node.align-right .imagebox img{
	max-width: 415px;
}

.node.align-full .imagebox img{
	max-width: 965px;
}