@charset "utf-8";

body {
	background:#ffffff url('../img/bg.png') repeat right top;
	overflow-y: scroll; 
	font-family: sans-serif;
}

#container{
	width:1024px;
	margin:30px auto 0;
	min-height:400px;
}
 
 h1{
	font-family: 'Questrial', sans-serif;
	font-size:36px;
 
 
 }

#header{
    background: url("../img/menu.png") repeat scroll center center transparent;
    padding: 15px 0;
    width: 100%;
    box-shadow: 1px -2px 3px #BABABA inset;
}

#menu{
    height: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 981px;
}

#menu ol{

}

#menu li a{
	float:left;
	display:block;
	margin:0 10px;
}

.user{
	float:right;
}

#footer{
	width:800px;
	margin:5px 0;
	text-align:center;
}

#content-wrapper{
	width: 1024px;
	position:relative;
	background: url("../img/dotted-line.png") repeat-y scroll center center transparent;
	margin-bottom: 100px;
	min-height: 600px;
}

#content-wrapper .section{
	height: 100%;
	display:table;
	float:left;
}

#content-wrapper .section.middle{
	width: 5%;
	border-bottom: 1px solid red;
}

#content-wrapper .section.left{
	width: 47%;
	border-bottom: 1px solid yellow;
}

#content-wrapper .section.right{
	width: 47%;
	border-bottom: 1px solid blue;
}

.node{
	width: 512px;
	position: absolute;
	cursor: move;
}
.align-left{
    background: url("../img/arrow-circle-lr.png") no-repeat scroll right center transparent;
    left: -49px;
    padding-right: 57px;
    text-align: right;
}

.align-right{
    background: url("../img/arrow-circle-rl.png") no-repeat scroll left center transparent;
    right: -49px;
    padding-left: 57px;
    text-align: left;
}

.align-full{
	width: 1007px;
	left: 8px;
}

#toolbox{
    height: 30px;
    margin-top: 85px;
    position: fixed;
    text-align: right;
    width: 100px;
	
  
}

#toolbox ul{
    position:relative;
    left: -100px;
	
  
}

.save_btn{
    background: url("../img/save.png") no-repeat scroll center bottom transparent;
    height: 65px;
    width: 66px;
	display:block;
}

#toolbox li{
	margin:5px;
	float: right;
}

#trash{
    background: url("../img/trash.png") no-repeat scroll center bottom transparent;
    height: 65px;
    width: 66px;
}

#add_btn{
    background: url("../img/add.png") no-repeat scroll center bottom transparent;
    height: 65px;
    width: 66px;
	cursor:move;
}



#trash.drophover{
	background: url("../img/empty-trash.png") no-repeat scroll center bottom transparent;
}

article, .type-container{
    background: none repeat scroll 0 0 #FFFFFF;
	text-align:left;
    padding: 20px;
	border-radius: 3px 3px 3px 3px;
	border-bottom: 1px solid #DFDFDF;
	box-shadow: -1px 1px 52px #E1E1E1;
}

.align-right article, .align-right .type-container{
    float: left;

}


.align-left article, .align-left .type-container{
    float: right;

}

.align-full article, .align-full .type-container{
    text-align: center;

}

.commentor{
	margin:4px;
	padding:4px;
	border:1px dashed;
}

.commentor:hover{
	background:#CCC;
}




/* Font Style */
font{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

h2{
	font-size:24px;
	margin:4px;
}

h3{
	font-size:18px;
	padding-bottom:10px;
}

a{
	color:#ff9000;
	text-decoration:none;
}
a:hover{
	color:#000;
	text-decoration:none;
}

p{
	padding-bottom:6px;
}

.error{
	color:#F00;
}

.success{
	color:#0F0;
}

.level-1{
	margin-left:30px;

}
.level-2{
	margin-left:60px;

}