@charset "utf-8";

body {
	background:#ffffff url('../img/bg.png') repeat right top;
	overflow-y: scroll; 
	font-family: sans-serif;
}

#container{
	width:1024px;
	margin:0 auto;
	min-height:400px;
}
 
 h1{
	font-family: 'Questrial', sans-serif;
	font-size:36px;
 
 
 }

#menu{
	text-align:center;
	margin:25px 0;
}

#menu ol{
	text-align:center;
	margin:0 auto;
	padding-bottom:5px;
	width:inherit;
}

#menu li a{
	float:left;
	display:block;
	margin:0 10px;
}

#footer{
	width:800px;
	margin:5px 0;
	text-align:center;
}

#content-wrapper{
	width: 1024px;
	position:relative;
	background: url("../img/dotted-line.png") repeat-y scroll center center transparent;
	margin-bottom: 100px;
	min-height: 600px;
}

#content-wrapper .section{
	height: 100%;
	display:table;
	float:left;
}

#content-wrapper .section.middle{
	width: 5%;
	border: 1px solid red;
}

#content-wrapper .section.left{
	width: 47%;
	border: 1px solid yellow;
}

#content-wrapper .section.right{
	width: 47%;
	border: 1px solid blue;
}

.node{
	width: 512px;
	background-color: green;
	position: absolute;
	cursor: move;
}
.align-left{
    background: url("../img/arrow-circle-lr.png") no-repeat scroll right center transparent;
    left: -49px;
    padding-right: 57px;
    text-align: right;
}

.align-right{
    background: url("../img/arrow-circle-rl.png") no-repeat scroll left center transparent;
    right: -49px;
    padding-left: 57px;
    text-align: left;
}

.align-full{
	width: 1007px;
	left: 8px;
}

#toolbox{
    height: 30px;
    margin-top: 85px;
    position: fixed;
    text-align: right;
    width: 100px;
	
  
}

#toolbox ul{
    position:relative;
    left: -100px;
	
  
}

#toolbox li{
	margin:5px;
	float: right;
}

#trash{
    background: url("../img/trash.png") no-repeat scroll center bottom transparent;
    height: 65px;
    width: 66px;
}

#add_btn{
	width:50px; 
	height:50px; 
	background-color:lightGray;
}



#trash.drophover{
	background: url("../img/empty-trash.png") no-repeat scroll center bottom transparent;
}

article, .type-container{
    background: none repeat scroll 0 0 #FFFFFF;
	text-align:left;
    padding: 10px;
	box-shadow: -6px 4px 6px #ddd;
	background: url("../img/grad.png") repeat-x scroll center bottom #FFFFFF;
	
}

.align-right article, .align-right .type-container{
    float: left;
	box-shadow:16px 1px 13px #ddd;

}


.align-left article, .align-left .type-container{
    float: right;
	box-shadow:-16px 1px 13px #ddd;

}

.commentor{
	margin:4px;
	padding:4px;
	border:1px dashed;
}

.commentor:hover{
	background:#CCC;
}




/* Font Style */
font{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

h2{
	font-size:24px;
	margin:4px;
}

h3{
	font-size:18px;
	padding-bottom:10px;
}

a{
	color:#ff9000;
	text-decoration:none;
}
a:hover{
	color:#000;
	text-decoration:none;
}

p{
	padding-bottom:6px;
}

.error{
	color:#F00;
}

.success{
	color:#0F0;
}

.level-1{
	margin-left:30px;

}
.level-2{
	margin-left:60px;

}