@charset "utf-8";

body {
	background:#ffffff url('../img/bg.png') repeat right top;
	overflow-y: scroll; 
}

#container{
	width:1024px;
	margin:0 auto;
	min-height:400px;
}


#menu{
	text-align:center;
	margin:25px 0;
}

#menu ol{
	text-align:center;
	margin:0 auto;
	padding-bottom:5px;
	width:inherit;
}

#menu li a{
	float:left;
	display:block;
	margin:0 10px;
}

#footer{
	width:800px;
	margin:5px 0;
	text-align:center;
}

#content-wrapper{
	width: 1024px;
	position:relative;
	background: url("../img/dotted-line.png") repeat-y scroll center center transparent;
	margin-bottom: 100px;
}

#content-wrapper .section{
	height: 100%;
	display:table;
	float:left;
}

#content-wrapper .section.middle{
	width: 6%;
	background-color:red;
}

#content-wrapper .section.left{
	width: 47%;
	background-color:yellow;
}

#content-wrapper .section.right{
	width: 47%;
	background-color:blue;
}

.node{
	width: 512px;
	background-color: green;
	position: absolute;
	cursor: move;
}
.align-left{
	background:url("../img/arrow-circle-lr.png") no-repeat scroll right 50px transparent;
	left:8px;
}

.align-right{
	right: 9px;
	background:url("../img/arrow-circle-rl.png") no-repeat scroll left 50px transparent;
}

.align-full{
	width: 1007px;
	left: 8px;
}

#toolbox{
    height: 30px;
    left: 50px;
    margin-top: 85px;
    position: fixed;
    text-align: right;
    width: 100px;

  
}

#toolbox li{
	margin:5px;

}

#trash{
	width:50px; 
	height:50px; 
	background-color:lightPink;
}

#trash.drophover{
	border:1px solid red;

}

article{
    background: none repeat scroll 0 0 #FFFFFF;
    height: 130px;
    padding: 10px;
    width: 445px;
	
	
}

.align-right article{
	float: right;

}





.commentor{
	margin:4px;
	padding:4px;
	border:1px dashed;
}

.commentor:hover{
	background:#CCC;
}

/* Font Style */
font{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

h2{
	font-size:24px;
	margin:4px;
}

h3{
	font-size:18px;
	padding-bottom:10px;
}

a{
	color:#ff9000;
	text-decoration:none;
}
a:hover{
	color:#000;
	text-decoration:none;
}

p{
	padding-bottom:6px;
}

.error{
	color:#F00;
}

.success{
	color:#0F0;
}